/* ===============style of cast container=============== */
.cast-container{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap:10px ;
    margin: 20px;
}

/* ===============style of cast container=============== */
.casts-container{
    display: grid;
    grid-template-columns: 3fr  1fr;
    
}